(
  assets:
   [ 
    ("liu", File ( path: "blueprints/liu.glb" )),
    ("Mat", File ( path: "materials/Mat.glb" )),
    ("Material.005", File ( path: "materials/Material.005.glb" )),
    ("ground", File ( path: "blueprints/ground.glb" )),
    ("Ground", File ( path: "materials/Ground.glb" )),
    ("mox_47", File ( path: "blueprints/mox_47.glb" )),
    ("Material.001", File ( path: "materials/Material.001.glb" )),
    ("Material.002", File ( path: "materials/Material.002.glb" )),
   ]
)